.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.menu li {
    padding: 5px 15px;
    margin: 0 0 20px;
}

.menu li + li {
    border-left: 1px solid #fff;
}

.menu a {
    cursor: pointer;
    font-size: 1.4rem;
    color: #fff;
}

.menu a:hover {
    border-bottom: 1px solid;
}
