.button {
    background-color: #fff;
    width: 140px;
    height: 40px;
    line-height: 40px;
    border: 1px solid red;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: red;
    text-align: center;
    transition-property: background-color, color;
    transition-duration: .3s;
    cursor: pointer;
}

.button:hover {
    background-color: red;
    color: #fff;
}